<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>HOME</h2>

        <h2>Here are some links to help you start: </h2>
        <ul>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://openclassrooms.com/courses/developpez-avec-angular">OpenClassRoom</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
          </li>
        </ul>

        <!-- APRES- -->

        <p>Mis à jour : {{ lastUpdate | async  | date: 'short' }}</p>
        <ul class="list-group">
            <app-appareil  *ngFor="let appareil of appareils; let i = index"
                           [appareilName]="appareil.name"
                           [appareilStatus]="appareil.status"
                           [index]="i"></app-appareil>
        </ul>
         <button class="btn btn-success"
                [disabled]="!isAuth"
                (click)="onAllumer()">Tout allumer</button>

        <button class="btn btn-danger"
                [disabled]="!isAuth"
                (click)="onEteindre()">Tout éteindre</button>

  <!-- AVANT- -->
      </div>
    </div>
  </div>
</div>
